/* @font-face {
  font-family: Andruha-700;
  src: url(../fonts/OpenSans-Bold.ttf);
}

@font-face {
  font-family: Andruha-400;
  src: url(../fonts/OpenSans-Regular.ttf);
} */

body {
  font-family: 'open sans', sans-serif;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.header {
  background-color: gray;
}
.header-navigation {
}
.header-logo {
}
.header-list {
}
.header-item {
}

.header-link {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.1em;
  color: #ffffff;
}

.header-tel {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #ffffff;
}

.header-btn {
  font-family: inherit;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  color: #ffffff;
}
