/* @font-face {
  font-family: Andruha-700;
  src: url(../fonts/OpenSans-Bold.ttf);
}

@font-face {
  font-family: Andruha-400;
  src: url(../fonts/OpenSans-Regular.ttf);
} */

:root {
  --main-title-color: #ffffff;
  --second-title-color: #303030;
  --main-btn-color: #ffffff;
  --second-btn-color: #303030;
  --accent-color: #ff6c00;
  --typical-lh: 1.36;
}

body {
  font-family: 'open sans', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  margin: 0;
  padding-left: 0;
}

button {
  cursor: pointer;
}

img {
  display: block;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  outline: 2px solid red;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.suptitle {
  font-weight: 600;
  font-size: 11px;
  line-height: var(--typical-lh);
  text-transform: uppercase;
}

.title {
  font-family: 'Raleway', sans-serif;
  font-size: 42px;
  line-height: 1.17;
  letter-spacing: 0.05em;
}

.btn {
  min-width: 160px;
  height: 40px;
  font-family: inherit;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  cursor: pointer;
  border: 1px solid #ff6c00;
  border-radius: 25px;
  background-color: transparent;
}

/*-------------- HEADER----------------- */

.header {
  background-color: gray;
  padding-top: 32px;
  padding-bottom: 32px;
}

.header-container {
  display: flex;
  align-items: center;
}
.header-navigation {
  display: flex;
  align-items: center;
  margin-right: auto;
}
.header-logo {
  margin-right: 131px;
}
.header-list {
  display: flex;
  gap: 30px;
}
.header-item {
}

.header-link {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.1em;
  color: #ffffff;
}

.current {
  color: var(--accent-color);
}

.header-link:hover,
.header-link:focus {
  color: var(--accent-color);
}

.header-tel {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: var(--main-title-color);
  margin-right: 43px;
}

.header-btn {
  color: #ffffff;
}

/*-------------- HERO----------------- */

.hero {
}

.hero-container {
  display: flex;
}

.hero-wrap {
  background-color: #626060;
  flex-grow: 1;
  padding: 252px 100px 208px;
}
.hero-list {
  width: 100px;
}
.hero-item {
}
.hero-link {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.2em;
  color: #303030;
}

.hero-link:hover,
.hero-link:focus {
  color: #ff6c00;
}

.hero-suptitle {
  color: rgba(157, 164, 189, 0.6);
  margin-bottom: 20px;
}
.hero-title {
  font-family: 'Raleway', sans-serif;
  font-size: 72px;
  line-height: 1.18;
  letter-spacing: 0.05em;
  color: var(--main-title-color);
  margin-bottom: 20px;
}
.hero-subtitle {
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: #9da4bd;
  max-width: 360px;
}

/*-------------- ABOUT----------------- */

.about {
  padding-top: 120px;
  padding-bottom: 120px;
}

.about-container {
  display: flex;
  gap: 30px;
}

.about-wrap {
  max-width: 470px;
}
.about-list {
  display: flex;
  gap: 30px;
  width: calc((100% - 30px) / 2);
  flex-shrink: 0;
}

.about-item {
  width: calc((100% - 30px) / 2);
}
.about-suptitle {
  color: #303030;
  margin-bottom: 20px;
}
.about-title {
  color: var(--second-title-color);
  margin-bottom: 20px;
}
.about-subtitle {
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: #555555;
  margin-bottom: 20px;
}
.about-text {
  font-size: 14px;
  line-height: 1.86;
  letter-spacing: 0.02em;
  color: #555555;
  margin-bottom: 42px;
}
.about-btn {
  color: #303030;
}

/*-------------- PRICES----------------- */

.prices {
  background-color: #303030;
  padding-top: 120px;
  padding-bottom: 120px;
}

.prices-wrap {
  display: flex;
  justify-content: space-between;
  margin-bottom: 44px;
}
.prices-suptitle {
  color: rgba(157, 164, 189, 0.6);
  margin-bottom: 20px;
}
.prices-title {
  color: var(--main-title-color);
  margin-bottom: 44px;
}
.prices-list {
  border: 1px solid #ffffff;
  padding: 30px 20px;
  width: calc((100% - 30px) / 2);
}
.prices-item {
  display: flex;
  justify-content: space-between;
}

.prices-item:not(:last-child) {
  margin-bottom: 20px;
}
.prices-item-text {
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: #9da4bd;
}

.prices-btn {
  color: #ffffff;
  display: block;
  margin: 0 auto;
}

/*-------------- BENEFITS----------------- */

.benefits {
  padding-top: 120px;
  padding-bottom: 120px;
}

.benefits-container {
  display: flex;
  padding-left: 85px;
  gap: 130px;
}
.benefits-list {
  display: flex;
  width: 370px;
  flex-wrap: wrap;
  flex-shrink: 0;
}

/* .benefits-list.list {
}

.benefits-list .list {
} */

.benefits-item {
  width: 170px;
  height: 133px;
  border: 1px solid #000000;
  padding: 20px 24px;
}

.benefits-item:nth-child(odd) {
  margin-right: 30px;
}

.benefits-item:nth-child(even) {
  margin-top: 30px;
}

.benefits-item > span {
  font-weight: 700;
  font-size: 42px;
  line-height: calc(57 / 42);
  text-align: center;
  letter-spacing: 0.05em;
  color: #303030;
  display: block;
  margin-bottom: 6px;
}

/* .benefits-item > span::before {
  content: '+';
} */
.benefits-item-text {
  font-weight: 600;
  font-size: 11px;
  line-height: var(--typical-lh);
  text-align: center;
  color: #303030;
}

.benefits-wrap {
  max-width: 500px;
}
.benefits-suptitle {
  color: #303030;
  margin-bottom: 20px;
}
.benefits-title {
  color: var(--second-title-color);
  margin-bottom: 20px;
}
.benefits-subtitle {
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: #555555;
}

/*-------------- BARBERS----------------- */

.barbers {
  padding-top: 120px;
  padding-bottom: 120px;
}

.barbers-suptitle {
  color: #303030;
  margin-bottom: 20px;
}

.barbers-title {
  color: var(--second-title-color);
  margin-bottom: 44px;
}

.barbers-list {
  display: flex;
  gap: 30px;
}

.barbers-item {
  width: calc((100% - 60px) / 3);
}

.barbers-content {
  padding-top: 30px;
}
.barbers-item-title {
  font-weight: 400;
  font-size: 18px;
  line-height: calc(25 / 18);
  text-align: center;
  letter-spacing: 0.02em;
  color: #303030;
  margin-bottom: 8px;
}
.barbers-item-text {
  font-size: 14px;
  line-height: calc(19 / 14);
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--accent-color);
}

/*-------------- GALLERY----------------- */

.gallery {
  padding-top: 120px;
  padding-bottom: 120px;
}

.gallery-suptitle {
  color: #303030;
  margin-bottom: 44px;
}

.gallery-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 30px;
  row-gap: 60px;
}

.gallery-item {
  width: calc((100% - 90px) / 4);
}

/*-------------- ONLINE----------------- */

.online {
  background-color: #303030;
}

.online-title {
  color: var(--main-title-color);
}

/* -------------- CONTACTS----------------- */

.contacts {
  background-color: #303030;
}

.contacts-title {
  color: var(--main-title-color);
}

.contacts-address {
  font-style: normal;
}
.contacts-list {
}

.contacts-item {
}
.contacts-link {
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: #9da4bd;
}

.contacts-link.bold {
  font-weight: 700;
}

.contacts-text {
  font-weight: 600;
  font-size: 11px;
  line-height: var(--typical-lh);
  text-transform: uppercase;
  color: #ffffff;
}
.contacts-schedule {
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;

  color: #9da4bd;
}
