@media screen and (min-width: 768px) {
  .container {
    max-width: 720px;
  }

  .header-list {
    display: flex;
    gap: 30px;
  }

  .header-item {
  }

  .header-link {
    font-weight: 600;
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 0.1em;
    color: #ffffff;
    transition: color 200ms linear;
  }

  .current {
    color: var(--accent-color);
    position: relative;
  }

  .current::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -54px;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: var(--accent-color);
  }

  .header-link:hover,
  .header-link:focus {
    color: var(--accent-color);
  }

  .header-tel {
    font-weight: 600;
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: var(--main-title-color);
    margin-right: 43px;
    transition: color 200ms linear;
  }

  .header-tel:hover,
  .header-tel:focus {
    color: var(--accent-color);
  }

  .header-btn {
    color: #ffffff;
  }

  .hero-wrap {
    background-image: var(--gra), url(../img/hero-bg.jpeg);
  }

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero-wrap {
      background-image: var(--gra), url(../img/hero-bg-2x.jpeg);
    }
  }

  .hero-soc {
    width: 100px;
    display: flex;
    align-items: flex-end;
    padding-left: 27px;
    padding-bottom: 40px;
  }

  .hero-list {
    display: flex;
    align-items: center;
    gap: 40px;
    transform: rotate(-90deg) translateY(100%);
    transform-origin: bottom left;
  }

  .hero-list::before {
    content: '';
    width: 60px;
    height: 1px;
    background-color: #303030;
  }

  .hero-link {
    font-weight: 600;
    font-size: 11px;
    line-height: 1.36;
    letter-spacing: 0.2em;
    color: #303030;
    transition: color 200ms linear;
  }

  .hero-link:hover,
  .hero-link:focus {
    color: #ff6c00;
  }

  .hero-wrap {
    padding: 270px 100px 235px;
  }

  .hero-subtitle {
    font-size: 18px;
    line-height: 1.67;
    max-width: 360px;
  }

  .container.container-mini {
    max-width: 480px;
  }

  .barbers {
    padding-top: 100px;
    padding-bottom: 100px;
  }

  .test {
    padding-top: 100px;
    padding-bottom: 100px;
  }

  .test-item {
    width: calc((100% - 60px) / 3);
  }

  .gallery {
    padding-top: 100px;
    padding-bottom: 100px;
  }

  .gallery-suptitle {
    margin-bottom: 44px;
  }

  .gallery-item {
    width: calc((100% - 30px) / 2);
  }
}
